<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Doble Electricidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)" size="large">
        <ion-icon name="person" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Popover -->
<ion-popover [isOpen]="isPopoverOpen" [event]="popoverEvent" (didDismiss)="handlePopoverDismiss()">
  <ng-template>
    <ion-content class="ion-padding">
        <ion-button (click)="onEditProfile()" expand="block" fill="clear">
          Profile
          <ion-icon slot="start" name="create" />
        </ion-button>
        <ion-button (click)="onLogout()" expand="block" color="danger" fill="clear">
          Log out
          <ion-icon slot="start" name="exit" />
        </ion-button>
    </ion-content>
  </ng-template>
</ion-popover>
