<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- Button to return to the invoices list page -->
    <ion-buttons slot="start">
      <ion-back-button default-href="/list" />
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content [fullscreen]="true">
  <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
    <!-- Form inputs only enable when the user is editing -->
    <ion-item>
      <ion-input label="Name" type="text" formControlName="name" [readonly]="!isEditing" />
    </ion-item>
    <ion-item>
      <ion-input label="Email" type="email" formControlName="email" [readonly]="!isEditing" />
    </ion-item>
    <ion-item>
      <ion-input label="Address" type="text" formControlName="address" [readonly]="!isEditing" />
    </ion-item>
    <ion-item *ngIf="isEditing">
      <ion-input label="Password" type="password" formControlName="password" />
    </ion-item>

    <!-- Save and Cancel buttons -->
    <ion-buttons class="center-item">
      <!-- Submit the edit form -->
      <ion-button *ngIf="isEditing" color="success" type="submit" [disabled]="!formUser.valid" fill="solid">
        Save
      </ion-button>
      <!-- Cancel the edit form -->
      <ion-button *ngIf="isEditing" color="danger" (click)="toggleEdit()" fill="solid">
        Cancel
      </ion-button>
    </ion-buttons>

    <!-- Button that initializes the edit -->
    <div class="center-item">
      <ion-button *ngIf="!isEditing" color="tertiary" (click)="toggleEdit()">
        Edit
        <ion-icon slot="end" name="create" />
      </ion-button>
    </div>
  </form>
</ion-content>
