<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inovoices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item *ngFor="let invoice of invoices">
      <ion-label>{{ invoice.holder_name }}</ion-label>
      <ion-button (click)="onGeneratePDF()">
        <ion-icon name="newspaper"></ion-icon>
      </ion-button>
      <ion-button (click)="openInvoiceModal(invoice)">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
