<!-- Header -->
<app-header></app-header>

<!-- Content -->
<!-- Title -->
<ion-toolbar>
  <ion-title class="title">{{ 'LIST.TITLE' | translate }}</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <!-- List all the invoices from the database -->
  <ion-list [inset]="true">
    <!-- Item of every invoice -->
    <ion-item class="margin-list" *ngFor="let invoice of invoices">
      <ion-label>{{ invoice.holder_name }}</ion-label>
      <!-- Button that generate a PDF of the invoice -->
      <ion-button (click)="onGeneratePDF(invoice)">
        <ion-icon name="newspaper" />
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
