<!-- Content -->
<ion-content [fullscreen]="true">
  <div class="center-item height-100 login-background">
    <ion-card class="height-50">
      <!-- Card header -->
      <ion-card-header class="center-item height-25">
        <ion-card-title color="primary">{{ 'LOGIN.TITLE' | translate }}</ion-card-title>
      </ion-card-header>
      <!-- Card content -->
      <ion-card-content class="height-75">
        <form class="login-form" [formGroup]="formLogin" (ngSubmit)="onSubmit($event)">
          <ion-item>
            <ion-input [label]="'LOGIN.EMAIL' | translate" type="email" [placeholder]="'LOGIN.EMAIL-LABEL' | translate" formControlName="email" />
          </ion-item>
          <ion-item>
            <ion-input [label]="'LOGIN.PASSWORD' | translate" type="password" [placeholder]="'LOGIN.PASSWORD-LABEL' | translate" formControlName="password" />
          </ion-item>
          <ion-button color="primary" type="submit" [disabled]="!formLogin.valid" class="button-form" expand="block">{{ 'LOGIN.ACCEPT' | translate }}</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
